<div class='fb-edit-section-header'><%= Formbuilder.options.dict.LENGTH_LIMIT %></div>

<%= Formbuilder.options.dict.MIN %>
<input type="text" data-rv-input="model.<%= Formbuilder.options.mappings.MINLENGTH %>" style="width: 30px" />

&nbsp;&nbsp;

<%= Formbuilder.options.dict.MAX %>
<input type="text" data-rv-input="model.<%= Formbuilder.options.mappings.MAXLENGTH %>" style="width: 30px" />

&nbsp;&nbsp;

<select data-rv-value="model.<%= Formbuilder.options.mappings.LENGTH_UNITS %>" style="width: auto;">
  <option value="characters"><%= Formbuilder.options.dict.CHARACTERS %></option>
  <!--<option value="words"><%= Formbuilder.options.dict.WORDS %></option>-->
</select>
